        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description" id="about_me">
            <div class="container">
<div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">Amit Kumar Tiwari | User Experience Designer </h2>
                        <div class="content">
                            <p>Amit is a user experience designer. His designs empathise with human needs and are meant for societies to help them evolve as a better place to live in. He talks about - 3Ps of UX Design - Principles, Processes &amp; Practices
<br>He enjoys spreading colors on canvas and fascinated towards street, portrait &amp; macro photography. Amit thinks that frugal innovation can bring happiness for the impoverished world. So, he keeps experimenting with new ideas. 
                                <br>Amit is responsible for inseminating design thinking into execution of projects, along with his regular responsibilities as an interaction design engineer at Hewlett Packard Enterprise, Bangalore India. He is evangelising user experience, its processes and its power to transform the world. He firmly believes that -
"Design has the solution of all the prevalent problems of the world"
</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
				<section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
						<div class="item">
                                <h3 class="title">Interactive Design Engineer - <span class="place"><a target="_blank" href="https://www.hpe.com/us/en/home.html">Hewlett Packard Enterprise</a></span> <span class="year">(Dec 2015 - Present)</span></h3>
                                <p>OneView is one the strategic products of Hewlett Packard Enterprise, which is used to automate all the data-center operations and manage it remotely. Amit is working for OneView along with generic UX practices at the company.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Creative Lead - <span class="place"><a target="_blank" href="http://photon.in">Photon Interactive Pvt. Ltd.</a></span> <span class="year">(July 2014 - Dec 2015)</span></h3>
                                <p>Amit is responsible for inseminating design thinking into execution of projects, along with his regular responsibilities as an interaction designer at Photon. He is evangelising user experience, its processes and its power to transform the world.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Senior User Interaction Designer - <span class="place"><a target="_blank"  href="http://infosys.com">Infosys</a></span> <span class="year">(Jan 2011 - July 2014)</span></h3>
                                <p>Amit has worked in Infosys as Interaction Designer, where he accomplished more than 20 projects involving interaction design, visual design, user research, concept building, and interface evaluation.</p>
                            </div><!--//item-->
                            
                            
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="Scholastic.html">Scholastic Ecommerce UX Revamp</a></h3>
                                <p class="summary">A responsive ecommerce portal for Scholastic products</p>
                                <div class="featured-image">
                                    <a href="Scholastic.html" target="_blank">
                                    <img class="img-responsive project-image" src="images/portfolio/About/sch13.jpg" alt="Scholastic" width="600" height="auto" style="margin:0 auto;">
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New Responsive Experience for Scholastic Products</div>
                                    </div>
                                    </div>
                                    
                                <div class="desc text-left">                                    
                                    <p>Scholastic is the world's largest publishers, distributors of children's books and a leader in educational technology and children's media. <br> This one-year assignment was an initiative taken by the business to ramp up the online sales and the conversion. It also focussed on engaging customers for longer durations and guiding them to buy products and subscribe to the services.</p>
                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="Scholastic.html" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>                 
                            </div><!--//item-->
                            <hr class="divider">
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="opendoors.html" target="_blank">
                                <img class="img-responsive project-image" src="images/portfolio/About/od1.jpg" alt="Opendoors">
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="opendoors.html" target="_blank">Opendoors : Building bonds with neighbours</a></h3>
                                    <p>OpenDoors is a digital experience solution to build relationships with neighbours for happier and healthier lives. The solution inculcates the collaborative behaviour among people and encourages inclusive happiness and prosperity.</p>
                                    <p><a class="more-link" href="opendoors.html" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" href="kalasarthi.html" target="_blank">
                                <img class="img-responsive project-image" src="images/portfolio/About/ks114.jpg" alt="KalaSarthi">
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href="kalasarthi.html" target="_blank">KalaSarthi : Revival of Indian Art &amp; Crafts</a></h3>
                                    <p>KalaSarthi symbolizes the force which drives the arts and crafts in rural India. With the objective of providing a sustainable livelihood to the rural artisans, KalaSarthi was born. It started a mission to take the Indian crafts market to a different level.</p>
                                    <p><a class="more-link" href="kalasarthi.html" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
        
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <div class="featured-image">
                                    <img class="img-responsive project-image" src="images/portfolio/About/amit.jpg" alt="Amit" width="150" height="auto" style="margin:0 auto; border-radius:75px; box-shadow: 0px 0px 5px #888888">
                                    </div>
                            <p> <br></p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Bangalore, India</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:amitkumar.tiwari@hotmail.com?Subject=Hello%20Amit">amitkumar.tiwari@hotmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.UX2Day.com">http://www.UX2Day.com</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                               Conceptualization  | Designing | Execution </p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Axure RP Pro &amp;; JustinMind<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%" style="width: 96%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Adobe Creative Suite <span class="level-label" data-original-title="" title="">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%" style="width: 96%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                <div class="item">
                                    <h3 class="level-title">Research &amp; Analytics Tools<span class="level-label" data-original-title="" title="">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%" style="width: 85%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Creative Thinking &amp; Analytical Ability<span class="level-label" data-original-title="" title="">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%" style="width: 85%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                  <div class="item">
                                    <h3 class="level-title">Aesthetic Sensibility &amp; Arts<span class="level-label" data-original-title="" title="">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="75%" style="width: 75%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                  <div class="item">
                                    <h3 class="level-title">Sketching  &amp; Visual Communication<span class="level-label" data-original-title="" title="">Pro</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%" style="width: 80%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                <div class="item">
                                    <h3 class="level-title">HTML5 &amp; CSS3<span class="level-label" data-original-title="" title="">Introductory</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%" style="width: 70%;">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                <p><a class="more-link" href="resources/profile2015.pdf" target="_blank"><i class="fa fa-external-link"></i> More on Profile</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> UX Design Certification</h3>
                                <h4 class="university">User Experience Academy, Infosys, Pune <span class="year">(Year 2013)</span></h4>
                            </div>
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> B.Tech In Computer Science &amp; Engineering</h3>
                                <h4 class="university">West Bengal University of Technology, Kolkata, India <span class="year">(2006-2010)</span></h4>
                            </div><!--//item-->
                            <!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                
                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="http://2014.ux-india.org/" target="_blank">UX India 2014</a> Bangalore</li>
                                
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                
              
            </div><!--//secondary-->    
        </div>
            </div>
        </section>
