<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="block wow fadeInUp" data-wow-delay=".3s">					
					<!-- Slider -->
					<section class="cd-intro" ng-repeat="data in home">
                        <div class="row">
                            <div class="col-xs-6 pull-right">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>{{data.quote}}</span><br>
                                <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#/portfolio" data-section="" >View Works</a>
                            </div>        
                        </div>    
					</section>
					<!-- /.slider -->
					</div>
				</div>
			</div>
		</div>
	</section><!--/#main-slider-->
	<!--
	==================================================
	Portfolio Section Start
	================================================== -->
	<section id="works" class="works" ng-init="showData()">
		<div class="container">
			<div class="section-heading">
				<h1 class="title wow fadeInDown" data-wow-delay=".3s">Featured Projects</h1>
				<p class="wow fadeInDown" data-wow-delay=".5s">
					Processes and standards evolve by its nature, and so is the design process. The agility of business requirements, dynamic ecosystems and needs of users are important factors influencing the change in methodologies.  Better processes are defined by opportunities and constraints making every solution and the experience unique of its kind. Some of my recent works exemplifying the same - 
				</p>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12 paginationclass" ng-repeat="data in portfolio | pagination : currentPage*itemsPerPage | limitTo: 3">
					<figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
						<div class="img-wrapper">
							<img src="{{data.portfolioImage}}" class="img-responsive" alt="{{data.portfolioTitle}}" >
							<div class="overlay">
								<div class="buttons">
									<a class="fancybox" href="{{data.portfolioBrief}}">Project Brief</a>
									<a href="#/{{data.portfolioTitle}}">Details</a>
								</div>
							</div>
						</div>
						<figcaption>
						<h4>
						<a href="#/{{data.portfolioTitle}}">
							{{data.portfolioTitle}}
						</a>
						</h4>
						<p>
							{{data.portfolioSubTitle}}
							<!--{{data.portfolioDescription | cut:true:60}}-->
						</p>
						</figcaption>
					</figure>
				</div>
			<!--<div class="pagination-div">
				<ul class="pagination">
				  <li ng-class="DisablePrevPage()">
					<a href ng-click="prevPage()">« Prev</a>
				  </li>
				  <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
					<a href="#/works">{{n+1}}</a>
				  </li>
				  <li ng-class="DisableNextPage()">
					<a href ng-click="nextPage()">Next »</a>
					 
				  </li>
				</ul>
			</div>-->				
			</div>
		</div>
	</section> <!-- #works -->