<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="works" class="works" ng-init="showData()">
	<div class="container">
		<div class="section-heading">
			<h1 class="title wow fadeInDown" data-wow-delay=".3s">Porfolio</h1>
			<p class="wow fadeInDown" data-wow-delay=".5s">The processes evolve with time, constraints and other factors. <br>Initially most of my assignments followed classical UX Model starting from Conceptualization, Detailed Research, Analysis, Initial sketches wrapping up with Hi-fidelity Design &amp evaluation. Whereas today, it's become more flexible, quick, agile and pragmatic. I emphasise on adopting those processes and activities which can create value, bring in innovative solutions and make an impact. I redefine design approach for each project based on the different constraints of the projects. However, these are some of the activities, I practice regulary in almost all the projects -
			</p>
			<div class="portfolio-single-img">
					<img class="img-responsive pr-img-center" alt="" src="images/portfolio/MyProcessIcons.jpg">
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12 paginationclass" ng-repeat="data in portfolio | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">
				<figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
					<div class="img-wrapper">
						<img src="{{data.portfolioImage}}" class="img-responsive" alt="{{data.portfolioTitle}}" >
						<div class="overlay">
							<div class="buttons">
								<a class="fancybox" href="{{data.portfolioBrief}}">Project Brief</a>
								<a href="#/{{data.portfolioTitle}}">Details</a>
							</div>
						</div>
					</div>
					<figcaption>
					<h4>
					<a href="#/{{data.portfolioTitle}}">
						{{data.portfolioTitle}}
					</a>
					</h4>
					<p>
						{{data.portfolioSubTitle}}
						<!--{{data.portfolioDescription | cut:true:60}}-->
					</p>
					</figcaption>
				</figure>
			</div>
			<!--<div class="pagination-div">
				<ul class="pagination">
				  <li ng-class="DisablePrevPage()">
					<a href ng-click="prevPage()">« Prev</a>
				  </li>
				  <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
					<a href="#/works">{{n+1}}</a>
				  </li>
				  <li ng-class="DisableNextPage()">
					<a href ng-click="nextPage()">Next »</a>
					 
				  </li>
				</ul>
			</div>-->
		</div>
	</div>
</section> <!-- #works -->