<!--
==================================================
Global Page Section Start
================================================== -->
<section class="global-page-header">
	<div class="container">
		<div class="section-heading">
				<h1 class="title wow fadeInDown animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">{{cur_portfolio.portfolioTitle}}</h1>
				<p class="wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">{{cur_portfolio.portfolioDescription}}
				</p>
			</div>
	</div>
	</section><!--/#Page header-->

	<section class="portfolio-single">
		<div class="container" ng-repeat="single_portfolio in cur_portfolio">
			<div ng-if="$first" ng-bind-html="cur_portfolio.portfolioDetailDescription | linebreak | to_trusted"></div>
		</div>
	</section>