body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:105px;
  width:960px;
  height:555px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:555px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/home___amit___user_experience_designer/u0_state0.jpeg');
  background-position:right bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:40px;
  top:150px;
  width:350px;
  height:150px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u2 {
  position:absolute;
  left:20px;
  top:34px;
  width:310px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:310px;
  width:210px;
  height:40px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#1B1B1B;
}
#u3_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:226px;
  height:56px;
}
#u4 {
  position:absolute;
  left:2px;
  top:13px;
  width:206px;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:555px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/home___amit___user_experience_designer/u0_state1.jpeg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:570px;
  top:140px;
  width:350px;
  height:150px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u6 {
  position:absolute;
  left:20px;
  top:21px;
  width:310px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:710px;
  top:300px;
  width:210px;
  height:40px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#1B1B1B;
}
#u7_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:226px;
  height:56px;
}
#u8 {
  position:absolute;
  left:2px;
  top:13px;
  width:206px;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:555px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/home___amit___user_experience_designer/u0_state2.jpeg');
  background-position:left bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:40px;
  top:150px;
  width:350px;
  height:150px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u10 {
  position:absolute;
  left:20px;
  top:34px;
  width:310px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:310px;
  width:210px;
  height:40px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#1B1B1B;
}
#u11_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:226px;
  height:56px;
}
#u12 {
  position:absolute;
  left:2px;
  top:13px;
  width:206px;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:555px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/home___amit___user_experience_designer/u0_state3.jpeg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:570px;
  top:150px;
  width:350px;
  height:150px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u14 {
  position:absolute;
  left:20px;
  top:48px;
  width:310px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:710px;
  top:310px;
  width:210px;
  height:40px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#1B1B1B;
}
#u15_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:226px;
  height:56px;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:206px;
  word-wrap:break-word;
}
#u18 {
  position:fixed;
  left:0px;
  top:0px;
  width:960px;
  height:105px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:105px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:2460px;
  height:105px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2460px;
  height:105px;
}
#u20 {
  position:absolute;
  left:2px;
  top:44px;
  width:2456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:71px;
  top:46px;
  width:177px;
  height:14px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:32px;
  width:41px;
  height:41px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:fixed;
  right:80px;
  top:68px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u26_img.selected {
}
#u26.selected {
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:98px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:197px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u30_img.selected {
}
#u30.selected {
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:295px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u32_img.selected {
}
#u32.selected {
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:0px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:112px;
  top:159px;
  width:735px;
  height:16px;
  font-family:'HelveticaNeue-Light', 'Helvetica Neue Thin', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:960px;
  height:45px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:2460px;
  height:46px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2460px;
  height:46px;
}
#u39 {
  position:absolute;
  left:2px;
  top:15px;
  width:2456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:fixed;
  left:50%;
  margin-left:-105.5px;
  bottom:10px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:14px;
  font-family:'MyriadApple-Bold', 'Myriad Apple Bold', 'Myriad Apple';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
