<!--
==================================================
Footer Section Start
================================================== -->
<footer id="footer">
	<div class="container">
		<div class="col-md-8">
			<p class="copyright">Copyright: <span>2015</span> <a href="http://UX2Day.com">UX2Day.com</a></p>
		</div>
		<div class="col-md-4">
			<!-- Social Media -->
			<ul class="social">
				<li>
					<a href="https://www.facebook.com/amit.harsh1" class="Facebook" target="_blank">
						<i class="ion-social-facebook"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/amitkrt" class="Twitter" target="_blank">
						<i class="ion-social-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://in.linkedin.com/in/amitkrt" class="Linkedin" target="_blank">
						<i class="ion-social-linkedin"></i>
					</a>
				</li>
				<li>
					<a href="https://plus.google.com/u/0/+AmitTiwari18" class="Google Plus" target="_blank">
						<i class="ion-social-googleplus"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer> <!-- /#footer -->